@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

tr td {
	width: 82%;
}

tr th {
	width: 6%;
}

.cart-wrap {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.total-count {
	float: right;
}

.cart-btn-wrap {
	float: right;
}




#total_price {
	position: relative;
	right: 0;
}