@charset "UTF-8";

.payment-banner {
	width: 100%;
	height: 100%;
}

.payment-img {
	width: 10%;
	height: 10%;
	margin: 1em;
	padding: 0;
	transition: all 0.1s linear;
}

.payment-img:hover {
	transform: scale(1.1);
}