@charset "UTF-8";


a{
    text-decoration: none;
    color:black;

}


.holdingcoupon-img-wrap{
    padding-top: 10px;
    text-align:center;
    margin-left:24px;
    margin-top:20px;
}

.holdingcoupon-img-wrap img{
    position: relative;
     width:10.5rem;
    height:10.5rem;
    
}

.holdingcoupon-list-wrap{
	 width:21%;
	 height:auto;
	 float:left;
	 margin-left:20px;
	 margin-top:20px;
	 

}

