@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.br-text {
	text-align: center;
	color: #535151;
	font-weight: bold;
}

.it-img {
	width:250px;
	height:250px;
}

.pd-btn {
	width:125px;
}

.pd-box {
	border:1px solid lightgray;
}

.btn-red {
	color: black;
}

.btn-red:hover {
	color: #4400AF;
	background-color:white;
}

.btn-blue {
	background-color: #4400AF;
	color: white;
}

.btn-blue:hover {
	background-color: #600CE5;
}