@charset "EUC-KR";

BODY {
	margin: 20px 0px 20px 0px;
	background-color: white;
	width:100%;
	min-height:800px;
	box-sizing : border-box;
	font-family: arial;
	font-size: 12px;
	}
	

.header {

	background-color : #FFC9FF;
	float : left;
	min-height : 150px;
	width :100%;
}
.formcontainer{
	display : inline;
}
.form-group{	
	clear:both;
    text-align: center;
		margin-top : 10px;
		width:70vw;
		border-radius: 2px;
			
}


#payWay{
	
	margin-top : 10px;
	
}